USE [master]
GO
/****** Object:  Database [PdkStudent_2410900044_Db]    Script Date: 9/26/2026 9:48:32 AM ******/
CREATE DATABASE [PdkStudent_2410900044_Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PdkStudent_2410900044_Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PdkStudent_2410900044_Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PdkStudent_2410900044_Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PdkStudent_2410900044_Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PdkStudent_2410900044_Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PdkStudent_2410900044_Db]
GO
/****** Object:  Table [dbo].[PdkStudent]    Script Date: 9/26/2026 9:48:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdkStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PdkName] [nvarchar](100) NOT NULL,
	[PdkGender] [bit] NOT NULL,
	[PdkBirthDay] [date] NOT NULL,
	[PdkEmail] [varchar](100) NULL,
	[PdkPhone] [varchar](20) NULL,
	[PdkActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
